@charset "UTF-8";

img {
    border: 0px;
    padding: 2px;
}
body {
    margin:0;
    padding:0;
    text-align:center;
}
body #canvas {
    position:relative;
    top:-1px;
    width:1007px;
    margin:0 auto;
    text-align:left;
    border-top:1px solid #fff;
}

table {
    border: 0px;
}

#canvas #logobar {
    position:absolute;
    top:20px;
    width:100%;
}
#canvas #logobar #logo{
    width:60%;
    position:static;
    text-align: left;
    margin-left:5px;
    vertical-align: top;
}

#canvas #logobar #logo img {
    padding:0px;
    margin-right:3px;
}
#canvas #logobar #login
{
    float:right;
    font-family:Arial,Helvetica,sans-serif;
    text-align: right;
    margin-right: 8px;
    vertical-align: top;
    width:30%;
}

#contentcontainer {
    margin:100px 0 0 0;
}
body #contentcontainer {
    /*zoom:1; unknown property  delete??*/
    /* background:url("../../images/contentcontainer.gif") top right repeat-y; */
}
#contentcontainer #maincontent {
    position:relative;
    float:left;
    /* width:733px; */
}

#maincontent #pagecontainer {
    /* background:url("../images/backgrounds/content.gif") 0 0 repeat-y; */
    padding:0 0 0 24px;
    position:relative;
    /* width:710px; */
    z-index:1;
}
#maincontent #pagecontainer #context {
    float:left;
    position:relative;
    top:0;
    left:0px;
    width:180px;
    padding:10px 0 0 0;
}
#maincontent #pagecontainer #context img {
    margin-top: 15px;
    padding:3px 3px 3px 3px;
    background-color: #C71400;
}

#maincontent #pagecontainer #context #randomImage img {
    border: 1px solid blue;
    background-color: aqua;

}
#maincontent #pagecontainer #context #login img {
    width:15px;
    background-color: transparent;
}
#maincontent #pagecontainer #content {
    float:right;
    position:relative;
    /* top:30px; */
    padding:10px 0px 20px 0px;
    margin:0 0 50px 0;
    width:794px;
    overflow:auto;
}
#maincontent #pagecontainer #content img {
    margin: 0 5px 0 0;
}

#maincontent #pagecontainer #subcontent {
    float:left;
    padding:10px 0 0 0;
    margin:10px 0 0 10px;
    /* background:url("../images/subcontent-bg-800.gif") 0 0 no-repeat; */
    margin:0 0 0 10px;
    width:232px;
    border-top:1px solid #d8d8d8;
    background:none;
}

/* Footer */
#footer {
    clear:both;
    height:35px;
    position:relative;
    height:35px;
    /* left:12px; */
    width:auto;
}

#footer img {
    padding: 5px 2px 0px 2px;
    border: 0px;
}
#footer ul {
    margin:0;
    padding:11px 0 0 20px;
    list-style:none;
}

#footer li {
    float:left;
    color:#007EC6;
    margin:0 10px 0 0;
}

#footer li a {
    border-right:1px solid #C6BFDC;
    color:#997EAE;
    padding:0 10px 0 0;
}
#footer li.textsize a {
    background:url("../images/backgrounds/textsize.gif") no-repeat top right;
    padding:0 38px 0 0;
    border:0;
}
#footer strong {
    font-weight:normal;
}

hr
{
    height:2px;
    background-color:#C71400;
    border:0px;
}

a.button {
    background: transparent url('../images/buttons/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/buttons/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}