.mbmenu{
    display:none;
}

.rootVoices img{

}

.rootVoices{
    /*background-color:#f3f3f3; background color menu*/
    padding:5px;
    padding-bottom:0;
    border: 0px solid #666;
}
.rootVoices td.rootVoice {
    vertical-align:middle;
    background-color:transparent;
    width:120px;
    font-family:Arial,Helvetica,sans-serif;
    color: gray;
    font-size:12px;
    line-height:18px;
    padding:8px;
    cursor: pointer;
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-top-right-radius:8px;
    -webkit-border-top-left-radius:8px;
}

.rootVoices td.rootVoice a {
    text-decoration:none;
    color:gray;
    display:block;
    width:100%;
}

.rootVoices td.rootVoice.selected{
    background: url("../images/menu/bgnd_sel_4.png") #A39D7B ;
    padding:8px;
    color:#ffffff;
    cursor: pointer;
    font-size:14px;
}

.rootVoices.vertical {
    width:150px;
}
.rootVoices.vertical td.rootVoice{
    -moz-border-radius:8px 0px 0 8px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-top-left-radius:8px;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:8px;
}

.menuShadow{
    padding:2px;
    padding-bottom:0px;
    left:-2px;
    top:1px;
}

/**/

.menuContainer{
    background-color:gray;
    padding:0px;
}
.menuContainer .line{
    background-color:transparent;
    width:100%;
    margin: 1px 15px 1px 0px !important;/*15px is space on left side of the sub-menu */

}
.menuContainer .line.title {
    background-color:#C71400;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    border-bottom:1px solid #C71400;
}
.menuContainer .line.title a{
    font-size:14px;
}
.menuContainer td a{
    text-decoration:none;
    color: #f3f3f3;
}
.menuContainer td.voice{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    padding:7px;
}
.menuContainer .separator{
    background-color:#999;
    height:1px;
}
.menuContainer td.img{
    font-family:Arial,Helvetica,sans-serif;
    text-align:center;
    font-size:12px;
    color: #c3c3c3;
    background-color:transparent;
    width:24px;
    padding:5px;
}
.menuContainer td.img img{
    /*width:20px;*/
}
.menuContainer .textBox{
    padding: 10px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    background:silver url("../images/menu/header_bgnd.jpg");
    color: #c3c3c3;
}
.menuContainer .selected td{
    background-color:#f3f3f3;
    background-image:url("../images/menu/bgnd_sel_2.jpg")
}
.menuContainer .selected td a{
    color:#000;
}
.menuContainer .disabled td, .menuContainer .disabled td a {
    color: #cccccc;
}
.menuContainer .subMenuOpener{
    background-image:url("../images/menu/menuArrow_w.gif");
    background-repeat:no-repeat;
    background-position:right;
}
.menuContainer .selected .subMenuOpener{
    background-image:url("../images/menu/menuArrow.gif");
    background-repeat:no-repeat;
    background-position:right;
}