@CHARSET "UTF-8";

/* general */
* {
    margin:0;
    padding:0;
    font-family: Verdana,Arial,sans-serif;
}

/* headers */
h1 {
    clear:both;
    color:#552878;
    font-size:255%;
    font-weight:normal;
    line-height:1.158em;
}
h2 {
    color:#552878;
    margin:0 0 0.6em 0;
    font-size:145.5%;
    font-weight:normal;
    line-height:1.4em;
}
h3 {
    color:#552878;
    margin:1.4em 0 .8em 0;
    font-size:109.5%;
    line-height:1.31em;
}
h3 a:link,
h3 a:visited {
    color:#552878;
}
h4 {
    color:#552878;
    margin:0.7em 0 1em 0;
    font-size:100%;
    line-height:1.31em;
}

/* paragraph */
p {
    margin:0.3em 0 1em 0;
}

/* anchors */
a, a:link {
    text-decoration:none;
}
a:visited {
    color: #00CC66;
}
a:hover,
a:focus {
    text-decoration:none;
    color: #FF0000;
}