<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>omicsFusion webapp</display-name>
    <context-param>
        <description>Where to submit the jobs</description>
        <param-name>SGESubmit</param-name>
        <param-value>d0100531.wurnet.nl</param-value>
    </context-param>
    <context-param>
        <description>SGE queue to use</description>
        <param-name>SGEQueue</param-name>
        <param-value>batch</param-value>
    </context-param>
    <context-param>
        <description>Server used to send emails</description>
        <param-name>smtpServer</param-name>
        <param-value>net.wur.nl</param-value>
    </context-param>
    <context-param>
        <description>From email address.</description>
        <param-name>fromEmail</param-name>
        <param-value>webmaster.plantbreeding@wur.nl</param-value>
    </context-param>
    <context-param>
        <param-name>tilesDefinitions</param-name>
        <param-value>/WEB-INF/tiles.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
    </listener>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
